@import url("http://localhost:3000/themes/slate.css");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
	display: flex;
	justify-content: center;
}

body {
	margin: 0;
	padding: 0;
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "JetBrains Mono", monospace;
	background-color: var(--bg-main);
	color: var(--text-color);
}

#heading-text {
	color: "#FFFFFF";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-bottom: 7vh;
}

#heading-text > a {
    text-decoration: underline;
    cursor: pointer;
}

#heading-text > h1 {
	margin-bottom: 0;
}

#heading-text > h3 {
	margin-top: 10px;
	font-size: 160%;
}

#welcome-text {
	margin-top: 10vh;
	font-size: 5vh;
	text-align: center;
}

#link-builder {
	background-color: var(--bg-surface);
	border-radius: var(--rounding);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;

	padding-top: 3%;
	padding-bottom: 3%;
	border: 1px solid var(--border-color);
	width: 40%;
}

#link-builder-header > h3{
	font-size: 32px;
    margin-bottom: 10px;
}

#link-builder-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}


#link-container {
	display: flex;
	flex-direction: row;
	background-color: var(--bg-highlight);
	border-radius: var(--rounding);
	width: fit-content;
	height: 5vh;
    width: fit-content;
    padding: 5px;
    height: fit-content;
}

#link-text {
	color: var(--text-color);
	padding-right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
	margin-right: 5px;
	overflow: hidden;
}

#copy-button {
	height: 50%;
	aspect-ratio: 1;
	align-self: center;
	margin-right: 20px;
	cursor: pointer;
	transition: transform 0.15s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#copy-button:hover {
	transform: scale(1.2);
}

#copy-button:active {
	transform: scale(0.9);
}

#component-picker {
	margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.checkbox-container > input {
    margin: 0;
}

.contentblock {
    margin-bottom: 50px;
}

.textbox {
	width: 40%;
	margin-bottom: 30px;
	background-color: var(--bg-surface);
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 3%;
	padding-top: 3%;
	border-radius: var(--rounding);
	border: 1px solid var(--border-color);
	cursor:default;
}

.textbox-header {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 5%;
}

.textbox-content {
	font-size: 18px;
}

.textbox-content > a {
	cursor: pointer;
    text-decoration: underline;
}

