@import url("http://localhost:3000/themes/slate.css");

html {
	display: flex;
	justify-content: center;
}

body {
	margin: 0;
	padding: 0;
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: monospace;
	background-color: var(--bg-main);
	color: var(--text-color);
}

#heading-text {
	color: "#FFFFFF";
}

#heading-text > h1 {
	margin-bottom: 0;
}

#heading-text > h3 {
	margin-top: 10px;
	font-size: 160%;
}

#welcome-text {
	margin-top: 10vh;
	margin-bottom: 10vh;
	font-size: 5vh;
	text-align: center;
}

#link-builder {
	background-color: var(--bg-surface);
	border-radius: var(--rounding);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;

	padding-top: 3%;
	padding-bottom: 3%;
	border: 1px solid var(--border-color);
}

#link-builder > h3 {
	font-size: 32px;
}

#link-container {
	display: flex;
	flex-direction: row;
	background-color: var(--bg-highlight);
	border-radius: var(--rounding);
	width: fit-content;
	height: 5vh;
}

#link-text {
	color: var(--text-color);
	padding-right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
	margin-right: 5px;
	overflow: hidden;
}

#copy-button {
	height: 50%;
	aspect-ratio: 1;
	align-self: center;
	margin-right: 20px;
	cursor: pointer;
	transition: transform 0.15s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#copy-button:hover {
	transform: scale(1.2);
}

#copy-button:active {
    transform: scale(0.9);
}


#component-picker {
	margin-top: 50px;
}
